<div class="text-group">
  <p><%= @question %></p>
  <p><em>- You</em></p>
</div>

<div class="text-group">
  <% if @question == "I am going to work" %>
    <p>Great!</p>
  <% elsif @question[-1] == "?" %>
    <p> Silly question, get dressed and go to work!</p>
  <% else %>
    <p>I don't care, get dressed and go to work!</p>
  <% end %>
  <p><em>- Your coach</em></p>
</div>


<%= link_to 'Ask a new question', ask_path %>
